{% load i18n extra_tags core_components components %}

{# Grid - Title Cell #}
<script type="text/template" id="grid-titlecell-template">

	{# Title #}
  <h3><a href="<%=url%>" title="<%=title%>"><%=title%></a> <span class="sep" style="<% if(category == ""){ %>display:none;<% } %>"> | </span> <%=category%></h3>
  
  {# Last published revision date #}
  <% if(last_published_revision_modified_at != ""){%>
    <span class="icon icon-arrow-down-right FL"></span><span class="date">{% trans "APP-LAST-PUBLISHED-REVISION-TEXT" %}: <%= last_published_revision_modified_at %></span>
  <% } %>

  {# Actions #}
  <ul class="actions clearfix">

		{# Review #}
  	<% if( authManager.isPublisher() || authManager.isAdmin() ){ %>
    	<% 
        if( status == StatusChoices.PENDING_REVIEW ){ 
      %>
      	<li class="review"><a href="<%=url%>" title=<%= gettext('APP-REVIEW-TEXT') %>><%= gettext('APP-REVIEW-TEXT')%></a></li>
      <% } %>
    <% } %>

    {# Edit #}
		<% 
      if( status != StatusChoices.PENDING_REVIEW ) { 
    %>
    	<li class="edit">
    		<a href="{% url 'manageVisualizations.edit' %}<%=id%>" title=<%= gettext('APP-EDIT-TEXT') %>><%= gettext('APP-EDIT-TEXT') %></a>
    	</li>
    <% } %>

    {# Delete #}
    <% 
      if( status != StatusChoices.PENDING_REVIEW ){ 
    %>
      <li class="delete"><a title=<%= gettext('APP-DELETE-TEXT') %> class="red"><%= gettext('APP-DELETE-TEXT') %></a></li>
    <% } %>

    {# View dataview #}
    <li><a title="<%= datastream_title %>" href="<%= datastream_url %>"><%= gettext('APP-VIEW-DATASTREAM-TEXT') %></a></li>

  </ul>
</script>